<div>
    <div class="list">
        <ul>
            <li ng-repeat="listItem in listData">
                <center><a href="#/details" ng-click="setDetailsData(listItem)" >{{listItem.name || listItem.title}}</a></center>
            </li>
        </ul>
    </div>
    
    <div class="prevNextButtonsDiv">
        <input class="btn btn-primary" type="button" value="PREVIOUS" ng-click="getPreviousListData()" ng-disabled="!prevUrl"/>
        <input class="btn btn-primary" type="button" value="NEXT" ng-click="getNextListData()" ng-disabled="!nextUrl"/>
    </div>
</div>